1. What are data structures, and why are they important?

Ans. Data Structures are way of storing data in memory. It is important because it is organinsed in such a way that it is easy to access and manipulate the data. It is faster, efficient and takes lesser memory.

In [ ]:
#2. Explain the difference between mutable and immutable data types with examples?
#Ams. Mutable data types means their element or value stored can be manipulated. Example:
list_a = ["Apple","orange"]
list_a[0] = "Banana" #we changed the value of an index
print(list_a) #list is mutable


#immutable data type means we cannot change their value. Ex:
a = ("apple","orange")
#a[0]="banana" --> tuple is immutable
#a.append("banana") --> we can't change
print(a)

['Banana', 'orange']
('apple', 'orange')

3. What are the main differences between lists and tuples in Python ?

Ans. List and Tuple are two different data type in python. Few of the differences are :

--> Lists are mutable and tuples are not. So, lists have more built-in method.

--> Lists are defined using square brackets'[]' but tuples are defined using paranthesis '()'.

--> lists consumes more time to operate and more memory than lists.

4. Describe how dictionaries store data ?

Ans. Dictionary stores data in pairs. One is called 'key' which is a unique value andd another is called 'value' which can be changable, both are separated by colon ':'. key is used to access the value. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

curly braces '{}' are used to define the dictionary data type.
dict = {
  "name": "py-thon",
  "age": 4,
  "hobby": "coding"
}

here 'name', 'age', and 'hobby' are key and "py-thon", 4 and "codinh" are values.

5. Why might you use a set instead of a list in Python ?

Ans. It depends on the need. Lists are suitable for storing items in a specific order, list is mutable, it can store duplicate data. whereas 'set' cannot have duplicate values, it is unordered, and we can't change the item of a set but we can add or items from a set.

6. What is a string in Python, and how is it different from a list ?

Ans. string is a sequence of characters, immutable and enclosed in double quotes "".

List is a mutable data type which is mutable and can stores items of different types.

7. How do tuples ensure data integrity in Python ?

Ans. 'Immutability' of tuples ensures data integrity in Python. we cannot change, add or remove any element once tuple is created. that is why it can be used as a key of a dictionary.

8. What is a hash table, and how does it relate to dictionaries in Python ?

Ans. Hash table is a data structures and dictionary is implentation of hash table in python, where index is a string. the key of a dictionary is meant to be the index. it is fast data structure with O(1) time complexity.

In [ ]:
#9. Can lists contain different data types in Python ?
#Ans. Yes a list contains different data types in python
my_list = ["string",23,2.03,3+7j,True]
print(my_list)

['string', 23, 2.03, (3+7j), True]

10. Explain why strings are immutable in Python ?

Ans. This characteristic offers several advantages related to performance, memory efficiency, and safety. Immutability ensures that once a string is created, its value remains constant throughout its lifetime.

11. What advantages do dictionaries offer over lists for certain tasks ?

Ans. In dictionary, items are easy and fast to search. And dictionary stores unique key that is immutable but the items in the list are mutable.

12. Describe a scenario where using a tuple would be preferable over a list ?

Ans. The main difference between tuple and list is that tuple is immutable. So, whenever there is a need to not have any change in data tuple is prefered over list.

13. How do sets handle duplicate values in Python ?

Ans. Sets in Python are designed to store only unique elements. When a set is created or when elements are added to it, any duplicate values are automatically discarded. This behavior ensures that a set contains only one instance of each distinct element. If an attempt is made to add a duplicate element, the set remains unchanged, effectively ignoring the redundant value. This characteristic makes sets useful for tasks such as removing duplicates from a list or checking for the presence of unique items in a collection.

14. How does the “in” keyword work differently for lists and dictionaries ?

Ans. The in operator has different performance characteristics depending on the data structure it is used with.

For lists, it has a time complexity of O(n), where n is the length of the list, It checks if the value is present in the list.

For dictionaries, it has an average time complexity of O(1). It checks for key only in dictoinary and it returns True if the 'key' is found and False otherwise.

Eg:  

    my_list = [1, 2, 3]
    print(2 in my_list)  # Output: True
    print(4 in my_list)  # Output: False

    my_dict = {"a": 1, "b": 2}
    print("a" in my_dict)  # Output: True (checks for keys)
    print(1 in my_dict) # Output: False (does not check for values)

15. Can you modify the elements of a tuple? Explain why or why not ?

Ans. Tuple is immutable data structures. we cannot add or remove element.

Directly, the elements of a tuple is immutable but using slicing we can change it.


    t = (1,2,3,4,5)

    print(t)

    t = t[:2] + (9,) +t[3:]

    print(t)

16. What is a nested dictionary, and give an example of its use case ?

Ans. A nested dictionary in Python is a dictionary where one or more of its values are also dictionaries.

Nested dictionaries in Python are useful for representing hierarchical data structures. One common use case is storing and organizing employee data within a company.


    company = {
        "employees": {
            "engineering": {
                "John Doe": {"title": "Senior Engineer", "salary": 120000},
                "Jane Smith": {"title": "Software Engineer", "salary": 100000},
            },
            "marketing": {
                "Peter Jones": {"title": "Marketing Manager", "salary": 90000},
                "Linda Brown": {"title": "Marketing Specialist", "salary": 70000},
            },
        },
        "location": "New York",
    }

17. Describe the time complexity of accessing elements in a dictionary.

Ans. The average time complexity of accessing elements in a dictionary is O(1). this is because of implementation of hash value. the key is converted into the index.

18. In what situations are lists preferred over dictionaries ?

Ans. list can have duplicate value. It is a simple way to store different data types. Whereas dictionary stores data items in kay-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans. Dictionary is now ordered data structure as of python v3.7

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. In terms of data retrieval dictionary acts very faster than list because dictionary has a unique key that is converted to index but elements in a lsit are stored and accessed based on their position (index) in the sequence, starting from 0.

Dictionaries, using a hash table, can find values associated with a key in an average of O(1) (constant) time, while lists, requiring sequential searching, have an average time complexity of O(n) (linear).

In [ ]:
#Practical Questions

In [ ]:
#1. Write a code to create a string with your name and print it ?

name = "Priyanshu Kumar"
print (name)

Priyanshu Kumar

In [ ]:
#2.  Write a code to find the length of the string "Hello World" ?

string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

String = "hello"
print(String.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
string.replace("apple","orange") #this will return a new string
#print(string) # the output of this line will be as same as we assigned the string variable as string is immutable

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a','b','c','d']
print(my_list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

#there are different ways to reverse a list for exapmle: slicing, or reverse() method or reversed() function, I'm using reverse() method here

my_list = [10,20,30,40,50]
my_list.reverse() #this method doesn't return new list with reversed order just reverse the list in place
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100,200,300)
print(t1)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t2 = ('red', 'green', 'blue', 'yellow')
print(t2[1:])

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10,20,5,15)
print(min(t))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t = ('banana', 'apple', 'kiwi')
print ("kiwi" in t)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

a_set = {1,2,3,4,5}
print("before clearing ",a_set)
a_set.clear()
print('after clearing, there is no element inside set',a_set)
print(a_set)

before clearing  {1, 2, 3, 4, 5}
after clearing, there is no element inside set set()
set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

b_set = {1,2,3,4}
b_set.remove(4)
print(b_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic = {"name" : "Priyanshu Kumar","Age" : 24, "city" : "Patna"}
print(dic)

{'name': 'Priyanshu Kumar', 'Age': 24, 'city': 'Patna'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic = {"name" : "John", "Age" : 25}
dic["country"] = "USA"
print(dic)

{'name': 'John', 'Age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic1 = {'name': 'Alice', 'age': 30}
dic1['name']

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary['age']
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dicti = {'name': 'Alice', 'city': 'Paris'}
print("city" in dicti)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list1 = [1,2,3,4]
tuple1 = ('a','b','c','d')
dict1 = {"key1" : "value1", 7:"fav no.", "job":"hahaha"}
print(f"This is list - {list1}\nThis is tuple - {tuple1}\nThis is dictionary - {dict1}")

This is list - [1, 2, 3, 4]
This is tuple - ('a', 'b', 'c', 'd')
This is dictionary - {'key1': 'value1', 7: 'fav no.', 'job': 'hahaha'}

In [ ]:
'''27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced) '''

import random

random_numbers = random.sample(range(1, 101), 5)


random_numbers.sort()

print(random_numbers)

[42, 49, 56, 75, 93]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

My_list = ["how","are", "you", "?"]
print(My_list[3])

?

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"name":"Priyanshu kumar","age" : 24, "address": "Darbhanga"}
dict2 = {"course":"DA", "completion":"100%"}
dict1.update(dict2)
print(dict1)

{'name': 'Priyanshu kumar', 'age': 24, 'address': 'Darbhanga', 'course': 'DA', 'completion': '100%'}

In [ ]:
#30. Write a code to convert a list of strings into a set

list1 = ["hello,","how","are","you ?"]
set1 = set(list1)
print(set1)

{'are', 'you ?', 'hello,', 'how'}